body {
  background-image: url("../img/maldives.jpeg")
}

/* .packages {
  display: flex;
  align-items: flex-end;
} */

/* .center {
  align-items: flex-start;
} */

.heading {
  background-color: rgb(80, 94, 133);
}